* {
  font-family: "Roboto", sans-serif;
  line-height: 1em;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

.menu {
  display: flex;
  padding: 12px 70px 0 70px;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 25px;
}
.menu_item:last-child {
  border-right: none;
}
.menu_link {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 85px;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  width: 100%;
  margin-top: 17px;
}
.subheader_official {
  font-size: 13px;
  font-weight: 400;
  color: white;
  margin-top: 6px;
}
.subheader .callus {
  font-size: 12px;
  line-height: 12px;
  color: white;
  text-align: right;
  margin-top: 19px;
}
.subheader_btn {
  margin-top: 19px;
  background-color: cyan;
  height: 44px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}
.subheader .phone {
  display: block;
  font-size: 22px;
  margin-top: 8px;
  color: #fff;
  text-align: right;
}
.subheader .xs-visible {
  display: none;
}

.hamburger {
  display: none;
}

.promo {
  min-height: 800px;
  background: url("../img/car.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo_header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
}
.promo_subheader {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-top: 22px;
}
.promo_text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.cause {
  padding: 70px 0 64px 0;
}
.cause_item {
  display: flex;
  margin-top: 35px;
}
.cause_item_round {
  display: flex;
  margin-right: 26px;
  width: 114px;
  height: 114px;
  background-color: #1EACC7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.cause_item_text {
  line-height: 21px;
}
.cause_descr {
  width: 300px;
  font-size: 15px;
}
.cause_descr_subheader {
  font-size: 17px;
  color: #1EACC7;
}

.label {
  width: 113px;
  padding: 9px 0 8px 0;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 11px;
  line-height: 8px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 38px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0;
}

.subtitle {
  color: #222;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-top: 19px;
  text-align: center;
}

.mobile {
  padding: 40px 0;
  background: url("../img/pattern.png") center center/cover no-repeat;
}
.mobile .row {
  margin: 0 auto;
  margin-top: 32px;
}
.mobile_item {
  width: 290px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/m_app_img1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/m_app_img2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/m_app_img3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/m_app_img4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/m_app_img5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/m_app_img6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}
.mobile_item .plus {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 100%;
  padding: 6px;
  cursor: pointer;
}
.mobile_item .plus:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.5s all;
}
.mobile_item .plus::after {
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1EACC7;
  transition: 0.5s all;
}
.mobile_item .plus:hover::before, .mobile_item .plus:hover::after {
  background-color: #ff5656;
}

.car_first {
  height: 500px;
  padding-top: 57px;
  background-color: #070716;
}
.car_first .container {
  position: relative;
}
.car_first .label {
  background-color: white;
  color: black;
}
.car_first .title {
  color: white;
}
.car_first .subtitle {
  color: white;
}
.car_first .car_img {
  margin-top: 56px;
  text-align: center;
}
.car_first .car_img img {
  width: 100%;
}
.car_first .subtitle_invisible {
  display: none;
}
.car_second {
  background: url("../img/pattern.png") center center/cover no-repeat;
  padding: 218px 0 138px 0;
}
.car_second .subtitle {
  margin: 0;
  color: #222;
  line-height: 21px;
}

.require {
  padding: 67px 0 83px 0;
}
.require_block {
  margin: 33px 0 33px 0;
}
.require_block_nbm {
  margin-bottom: 0;
}
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style: none;
  margin-top: 22px;
  padding-left: 50px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icon/condition_mark.png") center center/cover no-repeat;
}
.require .warning .require_title {
  color: #ff5656;
}
.require .warning .require_list li::before {
  background: url("../icon/condition_mark1.png") center center/cover no-repeat;
}

.world {
  position: relative;
  height: 718px;
  background-color: black;
  background: url(/img/world.jpg) center center/cover no-repeat;
  padding: 48px 0;
}
.world .label {
  background-color: white;
  color: black;
}
.world .title {
  color: white;
}
.world .subtitle {
  color: white;
}
.world a {
  display: block;
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #1FBAD6;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

footer {
  position: relative;
  min-height: 147px;
  padding: 13px 23px 39px 23px;
}
footer .line {
  height: 4px;
  width: 300px;
  background-color: #1FBAD6;
  margin: auto;
}
footer .footer_wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper > div:nth-child(1) {
  width: 25%;
}
footer .footer_wrapper > div:nth-child(2) {
  width: 50%;
}
footer .footer_wrapper > div:nth-child(3) {
  width: 25%;
}
footer .footer_wrapper .links_first {
  display: flex;
  width: 364px;
  margin-top: 32px;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer_wrapper .link {
  text-transform: uppercase;
  color: #070716;
  font-size: 15px;
}
footer .footer_wrapper .links_second {
  display: flex;
  width: 390px;
  justify-content: space-between;
  margin: 15px auto 0 auto;
}
footer .footer_wrapper .links_second .link {
  font-size: 11px;
}
footer .footer_wrapper .lang {
  display: block;
  color: #1FBAD6;
  margin: 19px auto 0 auto;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}
footer .footer_wrapper .social {
  display: flex;
}
footer .footer_wrapper .social_round {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: black;
  margin: 0 4px;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }

  .promo_header {
    font-size: 50px;
  }

  .subheader_btn {
    font-size: 12px;
  }

  .car_second {
    padding: 320px 0 55px 0;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }

  .subheader img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader .phone {
    font-size: 20px;
  }
  .subheader_btn {
    height: 38px;
    font-size: 12px;
  }

  .promo_header {
    font-size: 40px;
  }
  .promo_item {
    flex-direction: column;
    align-items: center;
  }
  .promo_descr {
    width: 300px;
    margin-top: 20px;
  }

  .cause_item {
    flex-direction: column;
  }
  .cause_item_round {
    margin: 0 auto;
  }
  .cause_descr {
    margin-top: 20px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
  }

  .car_second {
    padding: 170px 0 55px 0;
  }

  .world {
    height: 650px;
  }

  footer .footer_wrapper {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_wrapper > div:nth-child(1) {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer_wrapper > div:nth-child(2) {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer_wrapper > div:nth-child(3) {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer_wrapper .social {
    width: 160px;
    margin: 0 auto;
  }
  footer .footer_wrapper .stores {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 15px 0;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 18px;
    height: 12px;
    width: 30px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -4px;
  }
  .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .subheader_btn {
    width: 200px;
    height: 40px;
    font-size: 10px;
  }
  .subheader .xs-visible {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .subheader .phone {
    font-size: 14px;
    font-weight: 400;
  }

  .promo_header {
    font-size: 40px;
    line-height: 40px;
  }

  .cause_descr {
    width: 350px;
    margin: 20px auto 0 auto;
  }

  .car_second {
    padding: 70px 0 40px 0;
  }

  .world {
    height: 450px;
  }
}
@media (max-width: 575px) {
  .hidden {
    display: none;
  }

  nav {
    height: 29px;
  }

  .hamburger {
    top: 7px;
  }

  .subheader {
    top: 29px;
    height: 60px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 21px;
  }
  .subheader .phone {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 11px;
  }
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 7px;
  }

  .promo {
    min-height: 400px;
    padding: 142px 0 35px 0;
  }
  .promo_text {
    display: none;
  }
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 33px;
  }
  .promo_subheader {
    font-size: 20px;
  }
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }

  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
  }
  .menu_link {
    display: block;
  }

  .cause {
    padding: 21px 0 48px 0;
  }
  .cause_descr {
    width: 100%;
  }

  .title {
    font-size: 15px;
    margin: 15px 0 0 0;
    line-height: 15px;
  }

  .subtitle {
    font-size: 14px;
    margin-top: 11px;
  }

  .mobile {
    padding: 21px 0 45px 0;
  }
  .mobile_item {
    width: 290px;
    margin-top: 30px;
  }

  .car_first {
    height: 391px;
    padding: 25px 0 33px 0;
  }
  .car_first .car_img {
    margin-top: 35px;
  }
  .car_first .subtitle {
    margin-top: 40px;
    font-size: 17px;
    line-height: 24px;
  }
  .car_second {
    display: none;
  }
  .car .subtitle_invisible {
    display: block;
  }

  .require {
    padding: 30px 0 30px;
  }
  .require_title {
    font-size: 16px;
  }
  .require_list li {
    font-size: 14px;
  }

  .world {
    height: 360px;
  }

  footer {
    padding: 25px 0 20px 0;
  }
  footer .line {
    width: 253px;
  }
  footer .footer_wrapper > div:nth-child(1) {
    order: 2;
  }
  footer .footer_wrapper > div:nth-child(2) {
    order: 1;
  }
  footer .footer_wrapper > div:nth-child(3) {
    order: 3;
  }
  footer .footer_wrapper .links_first {
    width: 290px;
  }
  footer .footer_wrapper .links_second {
    flex-wrap: wrap;
    justify-content: center;
    width: 290px;
  }
  footer .footer_wrapper .links_second .link {
    margin: 0 7px;
    line-height: 16px;
  }
}/*# sourceMappingURL=style.css.map */